/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* custom components at https://material.angular.dev/guide/theming  */
@import 'tailwindcss';

@theme {
  --color-primary: #e5e7eb;
  --color-accent: #ffe81f;
  --color-muted: #9ca3af;
}

/* @utility  */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  color-scheme: dark;
  font: var(--mat-sys-body-medium);
  margin: 0;
  background:
    radial-gradient(
      1200px 600px at 10% -20%,
      rgba(56, 189, 248, 0.12),
      transparent
    ),
    #0b0f1a;
  color: var(--color-primary);
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, 'Helvetica Neue', sans-serif; */
  font-family: 'Orbitron', system-ui, sans-serif;
}

.mat-mdc-select-panel {
  background: #0b0f1a !important;
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
}

button {
  cursor: pointer;
}

.mat-mdc-form-field-error {
  color: var(--color-accent) !important;
}

.glow-text-accent {
  text-shadow:
    0 0 6px rgba(255, 232, 31, 0.7),
    0 0 12px rgba(255, 232, 31, 0.5);
}

.glow-border {
  box-shadow:
    0 0 0 1px rgba(255, 232, 31, 0.4),
    0 0 18px rgba(255, 232, 31, 0.25);
}
