.left-fighter {
  animation: leftIn 1200ms ease-in-out forwards;
}
.right-fighter {
  animation: rightIn 1200ms ease-in-out forwards;
}
.fight {
  animation: pulse 1200ms ease-in-out;
}

@keyframes leftIn {
  0% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(120px);
  }
  80% {
    transform: translateX(38px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightIn {
  0% {
    transform: translateX(0);
  }
  60% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(-28px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.12);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}
